 <li>
	{{burger_name}}

	<button class="change-devour btn btn-warning btn-sm" data-id="{{id}}" data-newdevour="{{devoured}}" {{#if devoured}}disabled{{/if}}>
		{{#if devoured}}Devoured{{else}}DEVUOR!!{{/if}}
	</button>
</li>